{{> menu}}
<div class="gallery">
	{{#each data}}
		
		{{#if filename}}
			<div class="gallery-photo">
				<a href="./photo/{{photoid}}">
					<img src="/images/gallery/{{filename}}" />
				</a>
				<p>{{description}}</p>
			</div>
		{{/if}}
	{{/each}}
</div>